@using DBProject.Models;
@model List<DBProject.Models.Products>

<div class="text-center">
    <h2 class="display-4">Products</h2>
    <div>
        <a asp-controller="Product" asp-action="Create">Create New Product</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Color</p>
            </th>
            <th>
                <p>Price</p>
            </th>
            <th>
                <p>Edit Product</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Products p in Model)
        {
            <tr>
                <td>
                    @p.Name
                </td>
                <td>
                    @p.Color
                </td>
                <td>
                    @p.ListPrice.ToString("C")
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>